/*  
#503e73
#fd4f3fff
#f3cf5aff
*/

#pull-buttons {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}

#pull-container {
  display: flex;
  flex-direction: row;
  width: inherit;
  justify-content: center;
  align-items: center;
  height: 6rem;
  border: 2px black solid;
  margin: 25px 10px;
}

.pull-divs {
  flex: 1 1 auto;
  max-height: 5rem;
  max-width: 5rem;
  aspect-ratio: 1;
  margin: 5px;
  box-sizing: border-box;
}

#total-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pull-buttons button {
  height: 5vh;
  min-height: 40px;
  min-width: 200px;
  font-size: 100%;
  padding: 0 1vw;
  border-radius: 8px;
  background-color: var(--base-color-2);
  cursor: pointer;
}