.blog-post {
  background-color: var(--base-color-2); 
  border-radius: 8px;
  margin-bottom: 2rem;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-left: 4px solid var(--primary-accent); 
}

.blog-post h3 {
  font-size: 1.25rem;
  color: var(--primary-accent);
  font-weight: bold;
  text-transform: capitalize;
}

.blog-post p em {
  font-size: 0.75rem;
  color: var(--base-color-3);
  margin-bottom: 1rem;
  display: block;
}

.blog-post p {
  font-size: 1rem;
  color: var(--text-color-1);
  line-height: 1.5;
  word-wrap: break-word;
}

#notes {
  margin: 3rem 8rem;
}