/*  
#503e73
#fd4f3fff
#f3cf5aff
*/

#pull-buttons {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}

#pull-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 6rem
}

#total-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pull-buttons button {
  height: 5vh;
  min-height: 40px;
  min-width: 200px;
  font-size: 100%;
  padding: 0 1vw;
  border-radius: 8px;
  background-color: var(--base-color-2);
  cursor: pointer;
}