:root {
  --primary-accent: #f8f546;
  --secondary-accent: #d8ee83;
  --background-color-1: #A0AAA9;
  --background-color-2: #7e807c;
  --background-color-3: #313739;
  --text-color-1: #000000;
  --text-color-2: #d0d4d3;

  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: var(--background-color-1);
}

p {
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--background-color-3);
  height: 8vh;
  align-content: center;
}

.header a {
  font-size: 4vh;
  font-weight: bold;
  color: var(--text-color-2);
  padding-left: 2vw;
  text-decoration: none;
}

.content .header {
  align-items: center;      
  margin: 2.5vw 0 0 0;
  padding: 1vh 0;          
  min-width: 250px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--background-color-3); 
  height: auto;              
}

.content .header p {
  font-size: 3.5vh;
  font-weight: normal;
  padding-left: 1vw;
  color: var(--text-color-2);
}

.content .header2 {
  display: inline-flex;        
  align-items: center;      
  margin: 2.5vw 0 0 0;
  padding: 1vh 0;          
  min-width: 200px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--background-color-3);
  height: auto;              
}

.content .header2 p {
  font-size: 3vh;
  font-weight: normal;
  padding-left: 1vw;
  color: var(--text-color-2);
}