.overlay {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--base-color-1);
	border: 5px var(--primary-accent) solid;
	padding: 20px 20px 10px 20px;
	border-radius: 10px;
	z-index: 1001;
	width: 20%;
	display: flex;
	flex-direction: column;
	
}

#login-form {
	margin: 10px 0;
	width: 100%;
}

#sub-links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0px 5px 25px 5px;
}

#sub-links p {
	font-size: 0.7rem;
	text-align: end;
	cursor: pointer;
}

.popup input {
	margin: 10px 0;
	width: inherit;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ddd;
	box-sizing: border-box;
}

#button-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
}

.popup button {
	padding: 10px 20px;
	background-color: var(--base-color-3);
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.popup button:hover {
	background-color: #0056b3;
}