.inputBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3vh 0 ;
}

.inputText {
    font-size: 3vh;
}

.buttonlist {
    display: flex;
    gap: 5vh;
    margin: 2vh 0 5vh 0;
}

.buttonlist button {
    height: 5vh;
    min-height: 40px;
    min-width: 200px;
    font-size: 100%;
    padding: 0 1vw;
    border-radius: 8px;
    background-color: var(--base-color-2);
}

.activeButton {
    font-weight: bolder;
}

.inputBody {
    margin: 3vh 0 3vh 0;
}

.inputdiv {
    display: flex;
    flex-direction: row;
    flex: auto;

    display: flex;
    gap: 5vw;
    align-items: center;
}

.inputdiv div {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex: auto;
}

.inputdiv p {
    font-weight: bold;
}

.inputdiv .inputSubtext {
    font-size: 2vh;
    font-weight: normal;
}

.inputdiv input {
    width: 10vw;
    height: 4vh;
    text-align: center;
    background-color: var(--base-color-1);
    font-size: 3vh;
    margin: 1vh 0;
}

.inputdiv p {
    font-size: 2.5vh;
}

.inputdiv button {
    height: 5vh;
    min-height: 40px;
    min-width: 150px;
    font-size: 125%;
    font-weight: bold;
    padding: 0 1vw;
    border-radius: 8px;
    background-color: var(--base-color-2);    
}

#resultContent {
    display: flex;
    justify-content: center;
}

#resultText {
    font-size: 3vh;
    margin: 3vh 0;
}

#resultStats {
    margin: 3vh 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}