:root {
    --primary-accent: #f8f546;
    --secondary-accent: #d8ee83;
    --base-color-1: #A0AAA9;
    --base-color-2: #7e807c;
    --base-color-3: #313739;
    --text-color-1: #000000;
    --text-color-2: #d0d4d3;

    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: var(--base-color-1);
}

p {
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--base-color-3);
    height: 8vh;
    align-content: center;
}

.header a {
    font-size: 4vh;
    font-weight: bold;
    color: var(--text-color-2);
    padding-left: 2vw;
    text-decoration: none;
}

.toolbar .header {
    display: inline-flex;        
    align-items: center;      
    margin: 2.5vw 0 0 0;
    padding: 1vh 0;          
    min-width: 250px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--base-color-3);
    height: auto;              
}

.toolbar .header p {
    font-size: 3.5vh;
    font-weight: normal;
    padding-left: 1vw;
    color: var(--text-color-2);
}

.toolbar .header2 {
    display: inline-flex;        
    align-items: center;      
    margin: 2.5vw 0 0 0;
    padding: 1vh 0;          
    min-width: 200px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--base-color-3);
    height: auto;              
}

.toolbar .header2 p {
    font-size: 3vh;
    font-weight: normal;
    padding-left: 1vw;
    color: var(--text-color-2);
}

.inputBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3vh 0 ;
}

.inputText {
    font-size: 3vh;
}

.buttonlist {
    display: flex;
    gap: 5vh;
    margin: 2vh 0 5vh 0;
}

.buttonlist button {
    height: 5vh;
    min-height: 40px;
    min-width: 200px;
    font-size: 100%;
    padding: 0 1vw;
    border-radius: 8px;
    background-color: var(--base-color-2);
}

.activeButton {
    font-weight: bolder;
}

.inputBody {
    margin: 3vh 0 3vh 0;
}

.inputdiv {
    display: flex;
    flex-direction: row;
    flex: auto;

    display: flex;
    gap: 5vw;
    align-items: center;
}

.inputdiv div {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex: auto;
}

.inputdiv p {
    font-weight: bold;
}

.inputdiv .inputSubtext {
    font-size: 2vh;
    font-weight: normal;
}

.inputdiv input {
    width: 10vw;
    height: 4vh;
    text-align: center;
    background-color: var(--base-color-1);
    font-size: 3vh;
    margin: 1vh 0;
}

.inputdiv p {
    font-size: 2.5vh;
}

.inputdiv button {
    height: 5vh;
    min-height: 40px;
    min-width: 150px;
    font-size: 125%;
    font-weight: bold;
    padding: 0 1vw;
    border-radius: 8px;
    background-color: var(--base-color-2);    
}

#resultContent {
    display: flex;
    justify-content: center;
}

#resultText {
    font-size: 3vh;
    margin: 3vh 0;
}

#resultStats {
    margin: 3vh 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}