:root {
  --primary-accent: #f8f546;
  --secondary-accent: #d8ee83;
  --base-color-1: #A0AAA9;
  --base-color-2: #7e807c;
  --base-color-3: #313739;
  --text-color-1: #000000;
  --text-color-2: #d0d4d3;

  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--base-color-1);
}

p, div, a, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--base-color-3);
  height: 4rem;
  width: 100%;
  margin-bottom: 3rem;
}

#title a {
  color: var(--primary-accent);
  padding-left: 1rem;
}

.header1 {
  color: var(--secondary-accent);
  background-color: var(--base-color-3);
  height: 3rem;
  width: 15rem;
  margin: 3rem 0 2rem 0;
  padding-left: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  align-content: center;
}

.header2 {
  color: var(--secondary-accent);
  background-color: var(--base-color-3);
  height: 2.5rem;
  width: 10rem;
  margin: 3rem 0 1rem 0;
  padding-left: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  align-content: center;
}

.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 2rem;
}

.carousel-arrow {
  background-color: var(--base-color-3);
  color: var(--primary-accent);
  border: none;
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-arrow:hover {
  background-color: var(--secondary-accent);
  color: black;
}

.carousel {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 0 2rem;
  overflow-x: scroll;
  white-space: nowrap;
  gap: 1rem;
  scroll-behavior: smooth;
}

.carousel-button {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  margin: 0 10px;
  cursor: pointer;
  gap: 10px;
  align-items: center;
}

.carousel-button img {
  height: 7rem;
  aspect-ratio: 1;
  border: 5px var(--primary-accent) solid;
  border-radius: 10px;
  background-color: var(--base-color-2);
}

.carousel-button p {
  font-size: 1.5rem;
  white-space: normal;
  width: 100%;
  align-content: center;
  justify-content: center;
}