:root {
  --primary-accent: #f8f546;
  --secondary-accent: #d8ee83;
  --base-color-1: #A0AAA9;
  --base-color-2: #7e807c;
  --base-color-3: #313739;
  --text-color-1: #000000;
  --text-color-2: #d0d4d3;

  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--base-color-1);
}

p, div, a, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--base-color-3);
  height: 4rem;
  width: 100%;
  margin-bottom: 3rem;
  z-index: 99;
}

#title a {
  color: var(--primary-accent);
  padding-left: 1rem;
}

#content {
  margin: 5rem 0;
}

.header1 {
  color: var(--secondary-accent);
  background-color: var(--base-color-3);
  height: 3rem;
  width: 15rem;
  margin: 1rem 0 2rem 0;
  padding-left: 1rem;
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  align-content: center;
}

.header2 {
  color: var(--secondary-accent);
  background-color: var(--base-color-3);
  height: 2.5rem;
  width: 10rem;
  margin: 3rem 0 1rem 0;
  padding-left: 1rem;
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  align-content: center;
}

#footer {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--base-color-3);
  height: 2rem;
  padding: 0 0 0 1rem;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  color: var(--text-color-2);
  box-sizing: border-box;
  z-index: 99;
}

#footer a {
  text-decoration: none;
  color: inherit;
}

#footer img {
  height: 2rem;
  object-fit: contain;
}

.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.carousel-arrow {
  background-color: var(--base-color-3);
  color: var(--primary-accent);
  border: none;
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 99;
  margin: 0 2rem;
}

.carousel-arrow:hover {
  background-color: var(--secondary-accent);
  color: black;
}

.carousel {
  flex: 1;
  display: flex;
  flex-direction: row;
  transition: transform 0.3s ease; 
  padding: 0 6rem;
  overflow-x: scroll;
  white-space: nowrap;
  gap: 1rem;
  scroll-behavior: smooth;
}

.carousel-button {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  margin: 0 10px;
  cursor: pointer;
  gap: 10px;
  align-items: center;
  scroll-snap-align: center;
  position: relative;
  width: 8rem;
}

.carousel-button img {
  height: 5rem;
  aspect-ratio: 1;
  border: 5px var(--primary-accent) solid;
  border-radius: 10px;
  background-color: var(--base-color-2);
}

.carousel-button p {
  font-size: 1.2rem;
  white-space: normal;
  word-wrap: break-word;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.carousel-wrapper::before,
.carousel-wrapper::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 125px; 
	z-index: 20;
}

.carousel-wrapper::before {
  background: linear-gradient(to left, #A0AAA900, #a0aaa9);
}

.carousel-wrapper::after {
  background: linear-gradient(to right, #A0AAA900, #a0aaa9);
}

.carousel-wrapper::before {
	left: 0;
}

.carousel-wrapper::after {
	right: 0;
}

.carousel-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	font-size: 24px;
	padding: 10px;
	cursor: pointer;
	z-index: 99;
}

#carousel-left {
	left: 0;
}

#carousel-right {
	right: 0;
}

.carousel-button.out-of-order::after,
.carousel-button.planned::after,
.carousel-button.soon::after {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-35deg);
	color: white;
	font-weight: bold;
	padding: 6px 20px;
	font-size: 1rem;
	pointer-events: none;
	text-transform: uppercase;
	border-radius: 5px;
	z-index: 10;
}

.carousel-button.out-of-order::after {
	content: "OUT OF ORDER";
	background: rgba(200, 0, 0, 0.8);
}

.carousel-button.planned::after {
	content: "PLANNED";
	background: rgba(0, 94, 255, 0.8);
}

.carousel-button.soon::after {
	content: "COMING SOON";
	background: rgba(37, 200, 0, 0.8);
}

.carousel-button.out-of-order,
.carousel-button.planned,
.carousel-button.soon {
	opacity: 0.4;        
	pointer-events: none; 
}

::-webkit-scrollbar { 
	height: 0;	
  width: 0;
}