.overlay {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0);
	z-index: 1000;
}

#user-popup {
	position: fixed;
	top: 6rem;
	right: 1%;
	transform: translate(0, -50%);
	background: var(--base-color-1);
	border: 5px var(--primary-accent) solid;
	padding: 20px 10px;
	border-radius: 10px;
	z-index: 1001;
	width: 15%;
	display: flex;
	flex-direction: column;
	
}

#user-popup button {
	padding: 10px 10px;
	background-color: var(--base-color-3);
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#user-popup button:hover {
	background-color: #0056b3;
}