.overlay {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--base-color-1);
	border: 5px var(--primary-accent) solid;
	padding: 20px 20px 10px 20px;
	border-radius: 10px;
	z-index: 1001;
	width: 70%;
	height: 70%;
	display: flex;
	flex-direction: column;	
}

#weapon-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100%;
	margin: 20px;
	gap: 20px;
	justify-content: center;
	overflow-y: scroll;
}

#portait-button {
	width: 20%;
	aspect-ratio: 1;
	box-sizing: border-box;
	flex-wrap: wrap;
}

.popup ::-webkit-scrollbar {
	height: auto;
	width: 10px;
	visibility: visible;
}

.popup ::-webkit-scrollbar-thumb {
	background-color: grey;
	border-radius: 4px;
}