:root {
    --primary-accent: #f8f546;
    --secondary-accent: #d8ee83;
    --background-color-1: #A0AAA9;
    --background-color-2: #7e807c;
    --background-color-3: #313739;
    --text-color-1: #000000;
    --text-color-2: #d0d4d3;

    scroll-behavior: smooth;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: var(--background-color-1);
}

p {
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--background-color-3);
    height: 8vh;
    align-content: center;
}

.header p {
    font-size: 4vh;
    font-weight: bold;
    color: var(--text-color-2);
    padding-left: 2vw;
}

