.toolbar .header {
    display: inline-flex;        
    align-items: center;      
    margin: 2.5vw 0 0 0;
    padding: 1vh 0;          
    min-width: 200px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--background-color-3);
    height: auto;              
}

.toolbar .header p {
    font-size: 3.5vh;
    font-weight: normal;
    padding-left: 1vw;
}

.toolbar .carousel {
    padding: 2vw 3vw;
    overflow-x: scroll;
    white-space: nowrap;
}

.toolbar button {
    display: flex;
    flex: auto;
    flex-direction: column;
    background-color: transparent;
    border: none;
    display: inline;
    margin: 0 0.5vw;
}

.toolbar button img {
    height: 10vw;
    aspect-ratio: 1;
    border: 5px white solid;
    border-radius: 10px;
    background-color: var(--background-color-2);
}

.toolbar button p {
    margin-top: 1vh;
    font-size: 2.5vh;
}