<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/footer.css">
  </head>

  <body>
		<div id="footer">
			<a href="https://github.com/Nick40831/Endfield_Resources" target="_blank" rel="noopener noreferrer">GitHub</a>
			<p>Thank you for visiting! The factory must grow!</p>
			<a href="https://github.com/Nick40831" target="_blank" rel="noopener noreferrer"><img src="../images/Creator_Mark.png"></a>
		</div>
  </body>
</html>

