<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/standard.css">
    <link rel="stylesheet" href="../css/login.css">
  </head>

  <body>
    <div class="overlay" id="overlay"></div>
    <div class="popup" id="login-popup">
      <h2 id="popup-title">Login</h2>
      <form id="login-form">
        <input type="text" placeholder="Email" id="email" required>
        <input type="text" placeholder="Username" id="username" required hidden="true">
        <input type="password" placeholder="Password" id="password" required>
        <p id="switch-form">Click here to Sign Up</p>
        <button id="submit-button" type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
