html, body, #root {
  width: 100%;
  height: 100vh; 
  margin: 0;
  padding: 0;
}

body {
  padding: 0 10%;
}

#content {
  margin: 6em 0 0 0;
}

h2 {
  /* Positioning */
  position: relative;

  /* Size */
  height: 2em;
  width: 5em;

  /* Box model */
  padding: 0 0 0 0.5em;
  margin: 0 0 0.5em 0;

  /* Text */
  font-size: 2em;
  font-weight: 600;

  /* Styling */
  color: black;

  align-content: center;
}